@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}
.container{
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 15px 15px;
    width: 330px;
    height: 500px;
    margin: 10% auto;
    text-align: center;
}
img{
    width: 300px;
    border-radius: 10px;
}
.container h1{
    font-size: 23px;
    padding-top: 15px;
    color: hsl(218, 44%, 22%);
}
.container p{
    padding: 15px 20px;
    font-size: 15px;
    color: hsl(220, 15%, 55%) ;
}

